{% extends "template.html" %}
{% block content %}
        <h3>Home</h3>
        <h1>Welcome the running extended space</h1>
        
        <p>the time is now</p>
        
        <ul>   
        <li>link page1 :  <a href="/page1">here</a> to go to the page1 </li>
		<li>link page2 :  <a href="/page2">here</a> to go to the page2 </li>
		<li>link page3 :  <a href="/page3">here</a> to go to the page3 </li>
		<li>link template :  <a href="/">here</a> to go to the template default page </li>
        </ul>
        
        <div class="blink">
        	°;..;°
        </div>
                
{% endblock %}
