{% extends "template.html" %}
{% block content %}

		<h3>page3</h3>
		<h1>Quotes</h1>
		
		Highlighted Quote:<br />
		
		{% for d in delete_quote %}
		<tr>
		<a href="{{ url_for('delete_entry', quote_id = d.quote_id) }}">Delete</a> | 
		<td>{{ d.quote_id }} |</td>
		<td>{{ d.quote }}</td> 
		</tr>		
		<br />
		{% endfor %}
		
		<br />
		<br />
		
		Quote to submit: <br />
		
		{% for n in new_quote %}
		<tr>
		<td>{{ n.quote }}</td>
		<a href="{{ url_for('delete_entry', quote_id = n.quote_id) }}">Delete</a> -
		<a href="{{ url_for('complete', quote_id = n.quote_id) }}">Submit</a>
		</tr>
		<br />
		{% endfor %}
		<br />
		
		<form action="{{ url_for('new_task') }}" method=post class=new-task>
		<td>
		<label>Quote :</label>
		<input name="quote" type="text" width="600px">
		</td>
		
		<td>
		<input class="button" type="submit" value="save">
		</td>
		</form>
		
		<br />
		
		
		
        
        

{% endblock %}